# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
fixvenv/

# Build artifacts
*.so
*.egg
*.egg-info/
build/
dist/
*.manifest
*.spec

# IDEs and Editors
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Environment files
.env
.venv
.env.*
.envrc

# Pipenv/Poetry/PDM/etc.
*.lock
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/

# Coverage and test cache
.coverage
.pytest_cache/
.tox/
.nox/
htmlcov/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.hypothesis/

# Logs and DBs
*.log
*.sqlite3
*.sqlite3-journal

# Factory-tool state
# labels/*.png
# labels/*.txt
# firmware/firmware.bin
.env
